<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="FileSavePath" value="C:\EcommerceSites\ProductFiles" />
    <add key="DownloadProductUrls" 
         value="https://www.wholesale2b.com/members.php/myaccount/download?download=data&amp;id=&amp;supplier_id=B365&amp;feed_type=free&amp;feed=1&amp;zip=1&amp;token=1b6a9869369ae9eb8f83ea843edb3b2c,
                https://www.wholesale2b.com/members.php/myaccount/download?download=data&amp;id=&amp;supplier_id=P892&amp;feed_type=free&amp;feed=1&amp;zip=1&amp;token=1b6a9869369ae9eb8f83ea843edb3b2c
         " />
    <add key="DownloadImgUrls" 
         value="http://www.imageserverhost.com/img/B365/split/all_large.zip,
                http://www.imageserverhost.com/img/P892/split/all_large.zip
         "/>
  </appSettings>
</configuration>