@using SyncProducts.Models;
@using System.Data;
@model List<Website>
@{
    ViewBag.Title = "Manage Ecommerce Sites";
}

@section Scripts{
    <script type="text/javascript" src="~/Scripts/download.js"></script>
    <script type="text/javascript" src="~/Scripts/categories.js"></script>
    <script type="text/javascript" src="~/Scripts/products.js"></script>
}

<div data-ng-app="prodApp" data-ng-controller="productController" class="container-fluid">
    <div class="alert alert-success collapse msg" role="alert">
        <strong>{{ msg }}</strong>
    </div>
    <div class="alert alert-danger error collapse" role="alert">
        <strong>{{ error }}</strong>
    </div>
    <div id="mydiv" data-ng-show="loading">
        <img src="~/Images/ajax-loader.gif" style="width:200px;" class="ajax-loader" />
    </div>

    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#tab1">DOWNLOAD PRODUCTS</a></li>
        <li class="active"><a data-toggle="tab" href="#tab2">MANAGE PRODUCTS</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab1" class="tab-pane fade">
            <h3>DOWNLOAD</h3>

            <div class="row">
                <div class="col-sm-8">
                    <div id="downloadTop" class="scroll">
                        <table class="table table-striped" style="width:100%;">
                            <tr>
                                <th>Company</th>
                                <th>Products Url</th>
                                <th>Images Url</th>
                            </tr>
                            <tr>
                                <td class="logoTD"><img src="https://www.wholesale2b.com/logo/logo-ahi.png" /></td>
                                <td class="prodUrlTD">https://www.wholesale2b.com/members.php/myaccount/download?download=data&id=&supplier_id=B365&feed_type=free&feed=1&zip=1&token=1b6a9869369ae9eb8f83ea843edb3b2c</td>
                                <td class="imgUrlTD">http://www.imageserverhost.com/img/B365/split/all_large.zip</td>
                            </tr>
                            <tr>
                                <td class="logoTD"><img src="https://www.wholesale2b.com/logo/logo-air-venturi.png" /></td>
                                <td class="prodUrlTD">https://www.wholesale2b.com/members.php/myaccount/download?download=data&id=&supplier_id=P892&feed_type=free&feed=1&zip=1&token=1b6a9869369ae9eb8f83ea843edb3b2c</td>
                                <td class="imgUrlTD">http://www.imageserverhost.com/img/P892/split/all_large.zip</td>
                            </tr>
                            <tr>
                                <td class="logoTD"><img src="https://www.wholesale2b.com/logo/logo-allinaudio.png" /></td>
                                <td class="prodUrlTD">https://www.wholesale2b.com/members.php/myaccount/download?download=data&id=&supplier_id=W290&feed_type=free&feed=1&zip=1&token=1b6a9869369ae9eb8f83ea843edb3b2c</td>
                                <td class="imgUrlTD">http://www.imageserverhost.com/img/W290/split/all_large.zip</td>
                            </tr>
                            <tr>
                                <td class="logoTD"><img src="https://www.wholesale2b.com/logo/logo-azuregreen.png" /></td>
                                <td class="prodUrlTD">https://www.wholesale2b.com/members.php/myaccount/download?download=data&id=&supplier_id=H558&feed_type=free&feed=1&zip=1&token=1b6a9869369ae9eb8f83ea843edb3b2c</td>
                                <td class="imgUrlTD">http://www.imageserverhost.com/img/H558/split/all_large.zip</td>
                            </tr>
                            <tr>
                                <td class="logoTD"><img src="https://www.wholesale2b.com/logo/logo-bangalla.png" /></td>
                                <td class="prodUrlTD">https://www.wholesale2b.com/members.php/myaccount/download?download=data&id=&supplier_id=G240&feed_type=free&feed=1&zip=1&token=1b6a9869369ae9eb8f83ea843edb3b2c</td>
                                <td class="imgUrlTD">http://www.imageserverhost.com/img/G240/split/all_large.zip</td>
                            </tr>
                            <tr>
                                <td class="logoTD"><img src="https://www.wholesale2b.com/logo/logo-bedinabag.png" /></td>
                                <td class="prodUrlTD">https://www.wholesale2b.com/members.php/myaccount/download?download=data&id=&supplier_id=Z591&feed_type=free&feed=1&zip=1&token=1b6a9869369ae9eb8f83ea843edb3b2c</td>
                                <td class="imgUrlTD">http://www.imageserverhost.com/img/Z591/split/all_large.zip</td>
                            </tr>
                            <tr>
                                <td class="logoTD"><img src="https://www.wholesale2b.com/logo/logo_brybelly.png" /></td>
                                <td class="prodUrlTD">https://www.wholesale2b.com/members.php/myaccount/download?download=data&id=&supplier_id=K940&feed_type=free&feed=1&zip=1&token=1b6a9869369ae9eb8f83ea843edb3b2c</td>
                                <td class="imgUrlTD">http://www.imageserverhost.com/img/K940/split/all_large.zip</td>
                            </tr>
                            <tr>
                                <td class="logoTD"><img src="https://www.wholesale2b.com/logo/logo-buy2bee.png" /><br />w/VARIANT</td>
                                <td class="prodUrlTD">https://www.wholesale2b.com/members.php/myaccount/download?download=data&id=&supplier_id=U675&feed_type=free&feed=1&zip=1&token=1b6a9869369ae9eb8f83ea843edb3b2c</td>
                                <td class="imgUrlTD">http://www.imageserverhost.com/img/U675/split/all_large.zip</td>
                            </tr>
                            <tr>
                                <td class="logoTD"><img src="https://www.wholesale2b.com/logo/logo-buy2bee.png" /><br />buy2bee.com</td>
                                <td class="prodUrlTD">https://www.wholesale2b.com/members.php/myaccount/download?download=data&id=&supplier_id=D205&feed_type=free&feed=1&zip=1&token=1b6a9869369ae9eb8f83ea843edb3b2c</td>
                                <td class="imgUrlTD">http://www.imageserverhost.com/img/D205/split/all_large.zip</td>
                            </tr>
                            <tr>
                                <td class="logoTD"><img src="https://www.wholesale2b.com/logo/logo_posterart.jpg" /></td>
                                <td class="prodUrlTD">https://www.wholesale2b.com/members.php/myaccount/download?download=data&id=&supplier_id=S949&feed_type=free&feed=1&zip=1&token=1b6a9869369ae9eb8f83ea843edb3b2c</td>
                                <td class="imgUrlTD">http://www.imageserverhost.com/img/S949/split/all_large.zip</td>
                            </tr>
                        </table>
                    </div>
                    <span id="spanDwnFiles" class="form-control btn btn-primary btn-lg">Download Files From Supplier Urls</span>
                    <div id="spanDwnFilesProg" class="progBar">0%</div>
                </div>
                <div class="col-sm-4">
                    <div id="pnlLogTop" class="panel panel-default scroll">
                        <div class="panel-heading">LOG FILE</div>
                        <div id="pnlDwn1" class="panel-body" style="word-wrap:break-word;overflow:auto;"></div>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <div class="row">
                <div class="col-sm-8">
                    <div id="downloadBottom" class="panel panel-default" style="overflow:scroll;margin:0px;">
                        <div class="panel-heading" style="font-weight:bold;">Files Downloaded</div>
                        <div id="pnlFileDownloads" class="panel-body">

                        </div>
                    </div>
                    <span id="spanSaveFiles" class="form-control btn btn-primary btn-lg">Save Products In Files To Local Database</span>
                    <div id="spanSaveFilesProg" class="progBar">0%</div>
                </div>
                <div class="col-sm-4">
                    <div id="pnlLogBottom" class="panel panel-default scroll">
                        <div class="panel-heading">LOG FILE</div>
                        <div id="pnlDwn2" class="panel-body" style="word-wrap:break-word;overflow:auto;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab2" class="tab-pane fade in active">
            
            <p>&nbsp;</p>
            <div class="container-fluid">
                <div class="row-fluid">
                    <h4 class="col-md-6">websites</h4>
                    <h4 class="col-md-6">
                        supplier categories
                        <span ng-click="addCategory()" class="btn btn-sm btn-primary pull-right marg10"><span class="glyphicon glyphicon-plus"></span> site category</span>
                    </h4>
                </div>
                <div class="row-fluid">
                    <div class="col-md-6">
                        <select ng-model="selectedWebsite" class="form-control">
                            @foreach (Website web in ViewBag.Websites)
                            {
                                <option value="@web.Id">@web.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" ng-options="c as c.FullPath + ' (' + c.ProductCount + ')' for c in categories" ng-model="selectedCategory" ng-change="getSiteCategories()"></select>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="row-fluid">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <tr ng-repeat="sc in siteCategories">
                                <td><input type="radio" name="radSiteCategory" checked="checked" data-id="{{ sc.WebCatId }}" /></td>
                                <td><input type="text" class="siteCategoryPath form-control" placeholder="Site Category Path" value="{{ sc.SiteCategoryPath }}" /></td>
                                <td><input type="text" class="siteCategoryFilter form-control" placeholder="ProductName Filter for Category" value="{{ sc.SiteCategoryFilter }}" /></td>
                                <td><span ng-click="removeCategory()" class="btn btn-sm btn-primary pull-right marg10">remove</span>
                                    <span ng-click="saveProds()" class="btn btn-sm btn-primary pull-right marg10">save</span>
                                    <span ng-click="getProductsForCategory()" class="btn btn-sm btn-primary pull-right marg10">get products</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <span ng-click="selectAllProds()" class="btn btn-sm btn-primary pull-left marg10">select all</span>
                <span ng-click="deselectAllProds()" class="btn btn-sm btn-primary pull-left marg10">de-select all</span>
                <p>&nbsp;</p>
                <hr />
                <div ng-repeat="p in products" class="prodBox {{ p.CatMember==1 ? 'boxHighlight' : '' }}" data-id="{{ p.ItemNum }}" ng-click="toggleProdBox($event)">
                    <div class="prodBoxTitle">{{ p.RowNum }}</div>
                    <div class="text-center"><b>{{ p.ItemNum }}</b></div>
                    <div class="text-center pad5">{{ p.ProductName }}</div>
                    <img class="center-block" ng-src="{{ p.URLToThumbImage }}" />
                    <div style="width:90px;margin:auto;" class="pad5">
                        <div class="text-right">{{ p.WholesalePriceBeforeMarkup | currency }} <b>W</b></div>
                        <div class="text-right">{{ p.RetailPrice | currency }} <b>R</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>